.gyxSoj{
    border: 0px solid !important;
}
.bnbBjQ {
    border-bottom: 0px !important;
    border-right: 0px !important;
}
.cwTcdo{
    background: none !important;
}
.dXMTiW input{
    height: 100% !important;
}
.dXMTiW label{
    height: 100% !important;
}